/* cast.html 専用配置 (画面やや下中央に実況・解説、右上に配信・オブザーバー) */
/* 細かい数値は後で手動調整してください */

.cast-layout--main .role--announcer {
  width: 350px;
  bottom: 325px;
  left: 550px;
  font-size: 80px;
}

.cast-layout--main .role--commentator {
  width: 350px;
  bottom: 325px;
  left: 1070px;
  font-size: 80px;
}

.cast-layout--main .role--operator {
  width: 200px;
  top: 30px;
  right: 45px;
  font-size: 50px;
}

.cast-layout--main .role--observer {
  width: 200px;
  top: 110px;
  right: 45px;
  font-size: 50px;
}
